<%- include('partials/header') %>
<div class="container-fluid">

  <div class="row">
  <%- include('partials/leftmenu') %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Branches</h1>

      </div>


      <div class=""style="height:10px;">
      </div>

    <div class="col-xs-2 offset-10"style="height:50px;">
      <button type="button" name="AddBranchbtn"class="btn btn-md btn-outline-secondary "data-toggle="modal" data-target="#addbranchmodal" >
        <span data-feather="plus-circle"></span>
        Add Brach
      </button>
    </div>
    <div class="table">
      <table  class="table">
        <thead>
              <th>#</th>
        <th>Branch Name </th>
      <th>Branch Location</th>
        <th>Total Installations </th>
          <th>Currently Running</th>
        </th>
      </thead>
      <% for(var i=0; i < branches.length; i++) { %>
         <tr>
            <td><%= i %></td>
           <td><a href=<%= "./branch/"+branches[i].id %>><%= branches[i].name %></a></td>
           <td><%= branches[i].city %></td>
           <td></td>
            <td></td>
         </tr>
      <% } %>
      </table>
    </div>

    </main>
  </div>
  <%- include('partials/addbranch') %>
</div>
  <script> (function () {
          'use strict'

          feather.replace()
          var useracc= '<%- JSON.stringify(branches)%>' ;
  console.log(useracc);
        })()</script>
<%- include('partials/footer') %>
